<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alanc.appfightingfantasycharacter">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".ControlLifeCycleAllApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Fighting Fantasy - Personagem"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Equipamentos" />
        <activity android:name=".DetalheItem" />
        <activity android:name=".CadastroNovoItem" />
        <activity android:name=".DefinirStatus"></activity>
    </application>

</manifest>